body{
    background-image: url(/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 10px;
}
#guardar-cambios, #agregar-nuevo, #boton{
    margin-top: 55px;
    margin-left: 43%;
    margin-bottom: 30px;
   
}

#spinner{
    visibility: hidden;
}

#header{
    height: 60px;
    color: rgb(235, 235, 235);
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
}
#header_container{
    width: 100%;

}
a{
    text-decoration: none;
    color:rgb(235, 235, 235);
}
a:hover{
    color: white;
}
.table{
    margin-top: 40px;
    justify-content: center;
    align-content: center;
}
#primeraHilera{
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}
#select:focus{
    outline-color: orange;
}